default-cache-ttl {{ gpg_cache_ttl }}
default-cache-ttl-ssh {{ gpg_cache_ttl_ssh }}
max-cache-ttl {{ gpg_cache_ttl }}
max-cache-ttl-ssh {{ gpg_cache_ttl_ssh }}
no-allow-external-cache
enable-ssh-support
ignore-cache-for-signing
